.page {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.button {
  height: 40px;
  border-radius: 8px;
  border: 1px solid lightgray;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.icon-button {
  outline: none;
  border: none;
  cursor: pointer;
  background: transparent;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  background: white;
  padding: 16px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #cccccc45;
  z-index: 10;
}

.popup__content {
  position: absolute;
  background: white;
  padding: 16px;
  border: 1px solid lightgray;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  padding: 15px 6.25%;
  border-bottom: 1px solid lightgray;
}

.create-event-btn {
  background-color: white;
  border-radius: 20px;
  margin: auto 10px;
  width: 100px;
}
.create-event-btn:focus, .create-event-btn:hover {
  background-color: #2196f3;
  color: white;
}
.create-event-btn__icon {
  margin-right: 6px;
}

.navigation__today-btn {
  background-color: white;
  border-radius: 5px;
  margin: auto 10px;
  width: 80px;
}
.navigation__today-btn:hover {
  background-color: #2196f3;
  color: white;
}

.calendar__header {
  display: flex;
  margin-left: 6.25%;
  margin-right: 25px;
}
.calendar__body {
  overflow-y: scroll;
  height: 70vh;
}
.calendar__day-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: 10px;
  padding: 5px;
}
.calendar__time-slot {
  border: 1px solid lightgray;
  height: 60px;
}
.calendar__week-container {
  display: flex;
}
.calendar__week {
  flex: 15;
  display: flex;
}
.calendar__day {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.day-label:hover {
  cursor: pointer;
  background-color: #2196f3;
  border-radius: 50%;
  color: white;
}
.day-label__day-name {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 25px;
}
.day-label__day-number {
  font-size: 25px;
}

.calendar__time-scale {
  flex: 1;
  border: 1px solid lightgray;
}

.time-slot {
  height: 60px;
  border-bottom: 1px solid lightgray;
  position: relative;
}
.time-slot__time {
  position: relative;
  bottom: -75%;
  left: 20%;
  background-color: white;
  font-size: 75%;
}

.create-event {
  position: relative;
}
.create-event__close-btn {
  position: absolute;
  top: -10px;
  right: -10px;
  cursor: pointer;
  background-color: white;
  border: none;
}
.create-event__close-btn:hover {
  font-size: 20px;
  color: #2196f3;
}

.event-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: lightgrey;
}

.event-form__field {
  border: none;
  border-bottom: 1px solid #2196f3;
  width: 100%;
  margin-top: 20px;
  text-align: right;
}
.event-form__field:focus {
  border: none;
}

.event-form__time {
  display: flex;
}

.event-form__submit-btn,
.delete-event-btn {
  margin-top: 10px;
  background-color: #2196f3;
  padding: 8px;
  color: white;
  border: none;
  cursor: pointer;
  width: 80px;
}

.event {
  position: relative;
  background-color: #2196f3;
  color: white;
  height: 200px;
  width: 80%;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
