// стили сетки календаря и заголовка календаря с днями недели
.calendar {
  &__header {
    display: flex;
    margin-left: 6.25%;
    margin-right: 25px;
  }
  &__body {
    overflow-y: scroll;
    height: 70vh;
  }

  &__day-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin: 10px;
    padding: 5px;
  }
  &__time-slot {
    border: 1px solid $border-gray;
    height: 60px;
  }
  &__body {
  }
  &__week-container {
    display: flex;
  }
  &__week {
    flex: 15;
    display: flex;
  }
  &__day {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
.day-label {
  &__day-name {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 25px;
  }
  &__day-number {
    font-size: 25px;
  }
}
.today {
  background-color: $color-blue;
  border-radius: 50%;
  color: $color-white;
}
