// стили навигации
.header {
  display: flex;
  padding: 15px 6.25%;
  border-bottom: 1px solid $border-gray;
}
.create-event-btn {
  background-color: $color-white;
  border-radius: 20px;
  margin: auto 10px;
  width: 100px;
  &:focus,
  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }

  &__icon {
    margin-right: 6px;
  }
}
.navigation__today-btn {
  background-color: $color-white;
  border-radius: 5px;
  margin: auto 10px;
  width: 80px;
  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }
}
